  @charset "UTF-8";

  :root {
    --main-color: #000d3d;
    --sub-color: #202d5b;

    --bg-color: #fff;
    --text-color: #333;
  }

  /* reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .just-c {
    justify-content: center;
  }

  .just-sb {
    justify-content: space-between;
  }

  .items-c{
    align-items: center;
  }


  img {
    vertical-align: top;
  }

  body {
    background: var(--bg-color);
    color: var(--text-color);
  }

  .container {
    width: 1200px;
    margin: auto;
  }
  /* header----------------------------------- */

  header {

    height: 100px;
    background: var(--main-color);
    color: #eee
  }

  header .container {
    position: relative;
    height: 100%;
  }

  header .container::before {
    content: '';
    width: 1200px;
    height: 0px;
    background: var(--sub-color);
    transition: .4s;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 1;

  }

  header .container.on::before {
    height: 150px;
  }

  h1 {
    width: 200px;
    height: 40px;
  }

  nav {
    width: 70%;
    align-self: flex-end;
    margin-right: 10px;
  }

  .main-menu {
    flex: 1;
    text-align: center;
    position: relative;

  }


  li.main-menu>a {
    padding: 10px;
    transition: .4s;
    border-top: 1px solid #555;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
  }

  li a.menu4 {
    border-right: 1px solid #555;
  }

  .main-menu:hover>a {
    background: var(--sub-color);
    color: #eee;
  }

  .sub-menu {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;

  }

  .sub-menu a {
    padding: 7px;
  }

  .sub-menu a:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
  }

  /* slide ----------------------------------------*/
  
  main {
    border-left: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
  }

  
  .slide-container {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid var(--main-color);
    overflow: hidden;
  }

  .slide-wrap {
    width: 300%;
    height: 100%;
    position: relative;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slide1 {
    background: url(../images/slide1.png);
  }

  .slide2 {
    background: url(../images/slide2.png);
  }

  .slide3 {
    background: url(../images/slide3.png);
  }

  .slide .summary {
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .slide .summary h2 {
    color: var(--main-color);
    margin-bottom: 10px;
  }



  .slide .summary p {
    color: var(--text-color);
    font-size: 20px;

  }
 
  /* ----------------------------------- */
  /* contents */
  #contents {
    width: 100%;
    height: 200px;
    justify-content: space-between;
    border-bottom: 1px solid var(--main-color);
    padding: 10px;

  }

  .content {
    width: 32.8%;
    height: 100%;
 
  }

  .content h3 {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--main-color);
  }


  #notice li {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    cursor: pointer;
  }

  #notice li a {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #notice li:hover {
    border-bottom: 1px solid var(--sub-color)
  }

  #notice li.on {
    background: var(--sub-color);
  }

  /* gallery */
  #gallery ul {
    justify-content: space-between;
    margin-top: 14px;
  }

  #gallery ul li {
    width: 32%;
  }

  .content img {
    width: 100%;
  }

  /* banner */

  #shortcut {

    position: relative;
  }

  #shortcut a {
    width: 100px;
    background: var(--sub-color);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    text-align: center;
    color: #eee;
  }

  /* footer------------------------------- */
  footer {
    width: 100%;
    height: 100px;
    background: var(--main-color);
    color: #eee;
  }

  .copyright {
    flex: 1;
    font-size: 14px;
    height: 50px;
  }

  .copyright p {
    line-height: 50px;
  }


  .sns {
    height: 50px;
    gap: 10px
  }

  .sns img {
    height: 40px;

    border-radius: 50%;
  }

  .familysite {
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  select{padding: 7px; outline: none;}
  
  /* popup */
  .popupbox {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup {
    width: 500px;
    background: var(--bg-color);
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .popup h3 {
    padding-bottom: 5px;
  }

  .popup h5 {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #888;
    border-bottom: 1px solid #000;
  }

  .popup p {
    padding: 10px 0;
  }

  a.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
  }