@charset "UTF-8";

:root {
  --main-color: #000000;
  --sub-color: #d1d1d1;
  --bg-color: #ffffff;
  --text-color: #333333;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  width: 100%;
  background: var(--bg-color);
  color: var(--text-color);
}

.flex {
  display: flex;

}

.just-c {
  justify-content: center;
}

.just-sb {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

.container {
  width: 100%;
  height: calc(400px + 150px + 250px);
  overflow-x: hidden;
}
/* ------------------------------------ */
/* header */
header {
  width: 200px;
  height: 100%;
  background: var(--main-color);
}

h1 {
  width: 200px;
  height: 40px;
  margin: 10px 0;
}


nav {

  width: 90%;
  margin: 50px auto;
  border: 1px solid var(--sub-color);
}

.main-menu {
  position: relative;
}

.main-menu:hover>a {

  background: var(--bg-color);
  color: var(--text-color);
}

.main-menu>a {
  padding: 10px;
  width: 170px;

  color: #ffffff;
}

.main-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 170px;
  background: var(--bg-color);
  width: 0;
  height: 100%;
  z-index: 1;
  transition: .4s;
}

.main-menu.on::before {
  width: 2000px;
}

.sub-menu {
  position: absolute;
  width: 2000px;
  height: 100%;
  top: -1px;
  left: 170px;
  z-index: 9;
  display: none;
  background: var(--bg-color);
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a {
  width: 160px;
  position: relative;
  padding: 10px
}

.sub-menu li:hover a {
  background: var(--main-color);
  color: var(--bg-color);
}
/* ------------------------------------ */
main {
  width: calc(100% - 200px);
}

/* slide */
.slide-wrap {
  width: 100%;
  height: 400px;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: right;
  background-size: cover;
}

.summary {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.summary h3 {
  font-size: 30px;
  font-weight: normal;
}

.summary span {
  color: #555;
}

.slide1 {
  background-image: url(../images/slide1.png);
}

.slide2 {
  background-image: url(../images/slide2.png);
}

.slide3 {
  background-image: url(../images/slide3.png);
}
 
/* ------------------------------------ */
/* contents */
.contents {
  width: 100%;
}

.shorcut {
  padding: 10px 0;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid var(--main-color)
}

.shorcut ul {
  height: 100%;
  justify-content: center;
  gap: 30px;
}

.shorcut li {
  width: 10%;
  overflow: hidden;
}

.shorcut li a {
  width: 100%;
}

.shorcut li img {
  width: 100%;
  height: 100px;
  object-fit: contain;

}

.shorcut li h5 {
  background: var(--bg-color);
  padding: 5px 15px;
  position: relative;
  z-index: 2;
}
/* ------------------------------------ */ 

.content-wrap {
  width: 100%;
  height: 250px;
  border-bottom: 1px solid #000;
}

.content {
  width: 50%;
  height: 100%;
  padding: 10px;
}

.content h3 {
  padding: 10px 20px;
}

.content ul {
  height: 80%;
  background: #fff;
}

.notice ul {
  border-top: 1px solid #000;
}

.notice li {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

.notice li a {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notice li:hover {
  background: var(--sub-color);
}

.gallery ul {
  gap: 12px
}

.gallery li {
  width: 33%;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.gallery li span {
  display: block;
  width: 100%;
  height: 160px;
  overflow: hidden;
}

.gallery li a img {
  min-width: 100%;
  min-height: 100%;
}
/* ------------------------------------ */
/* footer */
footer {
  height: 120px;
  justify-content: space-evenly;
  background: #333;
  color: var(--sub-color);
}

.empty {
  width: 200px;
}

.footer-wrap {
  flex: 1;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.footer-menu {
  margin-left: 10px;
  border-bottom: 1px solid #000;
  height: 60px;
  gap: 12px;
}

.footer-menu li a {

  width: 100%;
  text-align: center;
}

.footer-menu li:hover {
  color: var(--bg-color);
}

.copyright {
  padding-left: 10px;
  font-size: 15px;
  height: 60px;
  line-height: 60px;
}

select {
  margin: 0 20px;
  padding: 7px;
  outline: none;
}
/* ------------------------------------ */
/* popup */
.popup {
  width: 500px;
  padding: 50px;
  border: 1px solid var(--main-color);
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: none;
}

.popup h4 {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--sub-color);
}

.popup p {
  padding: 15px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px;
  color: #ffffff;
  background: var(--main-color);
}