  @charset "UTF-8";

  :root {
    --main-color: #127540;
    --sub-color: #7cbe30;
    --bg-color: #fff;
    --text-color: #333;
  }

  /* reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
  }


  body {
    background: var(--bg-color);
    color: var(--text-color);
  }

  .container {
    width: 1200px;
    margin: auto;
    border: 1px solid #333;
  }

  span {
    display: block;
  }

  .flex {
    display: flex;
  }

  .just-c {
    justify-content: center;
  }

  .just-sb {
    justify-content: space-between;
  }

  .items-c {
    align-items: center;
  }

  /* -------------------------------------------- */
  /* header */
  header {

    height: 100px;
    position: relative;
  }

  header::before {
    content: '';
    width: 1198px;
    height: 0;
    background: var(--bg-color);
    transition: .4s;
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 1;

  }

  header.on::before {
    height: 150px;
  }

  h1 {
    width: 200px;
    height: 40px;
  }

  nav {
    width: 70%;
    align-self: flex-end;
    margin-right: 10px;
  }

  .main-menu {
    flex: 1;
    text-align: center;
    position: relative;

  }


  li.main-menu>a {
    padding: 10px;
    transition: .4s;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  li a.menu4 {
    border-right: 1px solid #333;
  }

  .main-menu:hover>a {
    background: var(--main-color);
    color: #fff;
  }

  .sub-menu {
    position: absolute;
    width: 100%;
    z-index: 9;
    display: none;

  }

  .sub-menu a {
    padding: 7px;
  }

  .sub-menu a:hover {
    background-color: var(--sub-color);

  }

  /* --------------------------------------- */


  #slide-wrap {

    height: 300px;
    position: relative;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .slide img {
    width: 100%;
  }

  .slide1 {
    background: url(../images/slide1.png);
  }

  .slide2 {
    background: url(../images/slide2.png);
  }

  .slide3 {
    background: url(../images/slide3.png);
  }


  .slide h3 {
    position: absolute;
    left: 10px;
    top: 10px;
    background: var(--main-color);
    border-radius: 99px;
    padding: 10px;
    color: #fff;
  }



  /* ------------------------------------ */
  /* contents */
  #contents {
 
    height: 200px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    padding: 10px;
  }

  .content {
    width: 32.8%;
    height: 100%;

    position: relative;
  }

  .content img {
    width: 100%;
  }


  .content h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--main-color);
  }

  .notice ul li a {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
 

  .notice li {
    font-size: 15px;
    display: flex;
 
    cursor: pointer;
  }

  .notice li p {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .notice li:hover a {
    border-bottom: 1px solid var(--main-color)
  }

  /* gallery */
  .gallery ul {
    justify-content: space-between;
 
  }

  .gallery ul li {
    width: 32%;
  }



  .gallery ul li img {
 
    transition: .4s;
    opacity: .7;
  }

  .gallery ul li:hover img {
    opacity: 1;
  }
 
  .shortcut a {
    width: 100px;
    background: var(--text-color);
    color: #fff;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    text-align: center;
  }


  /* ---------------------------------------- */
  /* footer */

  footer {
    height: 100px;
  }


  .footer-text {
    flex: 1;
    text-align: center;
    height: 100%;
    border-right: 1px solid #aaa;


  }

  .footer_menu,
  p.copyright {
    height: 50px;
  }

  p.copyright {
    line-height: 50px;
  }

  .footer_menu {
    border-bottom: 1px solid #aaa;
  }

  .footer_menu li {
    margin: 0 10px;
  }

  .familysite {
    padding: 10px;

  }
  select{padding: 7px; outline: none;}
  /* ----------------------------- */

  /* popup */
  #popup {
    width: 460px;
    background: #fff;
    padding: 50px;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #popup h2 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
    text-align: center;
  }

  #popup p {
    line-height: 1.3;
    margin-bottom: 20px;
  }

  #popup a.close {
    border: none;
    background: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }