  @charset "UTF-8";
  :root {
    --main-color:   #c2a77b;
    --sub-color: #4a4948;

    --bg-color: #fff;
    --text-color: #333;
  }
  /* reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  li {
      list-style: none;
  }

  a {    display: block;
      text-decoration: none;
      color: inherit;
  }

  img {
      vertical-align: top;
  }
  .flex {
    display: flex;
  }

  .just-c {
  justify-content: center;
  }

  .just-sb {
  justify-content: space-between;
  }

  .items-c  {
  align-items: center;
  }
  body {
    background: var(--bg-color);
    color: var(--text-color);
  }
  /* 공통속성 */
  .container {
      width: 1200px;
      margin: auto;

  }
  
  
  header {
      height: 100px;
      border: 1px solid #333;
      background: var(--sub-color);
  }
  header .container{height: 100%;}
  nav {
    width: 60%;
    position: relative;
    margin-right: 10px;
    border: 1px solid #fff;
  }

  nav a {
    color: #fff
  }

  .main-menu {
    flex: 1;
    position: relative;
    text-align: center;

  }

  .main-menu>a {
    padding: 10px;

  }

  .main-menu:hover>a {

    color: var(--text-color);
    background: var(--bg-color);
  }
  .sub-menu a {
    padding: 10px;
  }


  .sub-menu {
    position: absolute;
    width: 100%;
    height: 172.8px;
    display: none;
    z-index: 9;
    background: var(--sub-color);
    border: 1px solid #fff;
  }

  .sub-menu li:hover a {
    background: var(--bg-color);
    color: var(--sub-color);
  }
  main {
    width: 1200px ;
    margin: auto;;
    border-left: 1px solid var(--sub-color);
    border-right: 1px solid var(--sub-color);
  }
  /* slide */
  .slide-container {
    height: 300px;
    border-bottom: 1px solid var(--sub-color);
    overflow: hidden;
  }

  .slide-wrap {
      position: relative;
  }

  .slide {
      position: relative;
  }

  .summary {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #fff;
      background: rgba(51, 51, 51, .5);
      font-size: 18px;
      padding: 10px;

  }

  /* contants */
  .contents {
      height: 200px;
      padding: 10px;
      /* border-left: 1px solid #333;
      border-right: 1px solid #333; */
  }

  .contents .content {
    width: 32.8%;
    height: 100%;
  }
  .content img{width: 100%;}
  .contents h2 {
      border: 1px solid #4a4948;
      display: inline-block;
      margin-left: 10px;
      margin-top: 5px;
      border-bottom: none;
      padding: 0 10px;
      font-size: 18px;
      color: #c2a77b;
      background: #fff;
      margin-bottom: -1px;
  }

  .contents ul {
      height: calc(200px - 33px);
      border-top: 1px solid #000;
  }

  #notice li a {
      display: flex;
      justify-content: space-between;
      padding: 7px;
  }

  #notice p {
      width: 70%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }

  #notice li {
      border-bottom: 1px solid #aaa;
  }

  #notice li:hover {
      color: #c2a77b;
  }

  #gallery ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
  }
  #gallery ul li img {
  
    transition: .4s;
    opacity: .7;
  }

  #gallery ul li:hover img {
    opacity: 1;
  }
  #banner {position: relative;}
  #banner a {
    width: 100px;
    background: var(--main-color);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 999px;
    text-align: center;
  
  }


  footer {
      height: 100px;
      background: #c2a77b;
  }
  footer .container{height: 100%;}
  .sns ul {
      gap: 20px;
  }

  /* popup */
  #popup {
    width: 540px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid var(--main-color);
    display: none;
  }

  .popup h4 {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--main-color)
  }

  .popup p {
    line-height: 1.6;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .popup p b {
    color: var(--sub-color);
    font-size: 15px;
  }

  a.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
  }